body {
    font-family: Arial, sans-serif;
    background: url('com.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #333;
}

.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 20px 40px;
    margin: 20px;
    font-size: 24px;
    text-align: center;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}